{
  "extends": ["prettier"],
  "plugins": ["@typescript-eslint", "react-app", "jest"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
